:root {
  --dark: #212121;
  --grey: #6c757d;
  --light: #f8f9fa;
  --montserrat : 'Montserrat', Arial, sans-serif;
  --baskerville: 'Libre Baskerville', Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


hr {
  margin: 0.5rem 0;
}

a,
a:hover{
  color :var(--dark);
  text-decoration: none;
}

.font-baskerville {
 font-family: var(--baskerville)
}

body {
  font-family: var( --montserrat);
}

/* navigation */

nav li {
  display: inline;
}

nav a {
  padding: 4px 10px;
  color: var(--grey);
}

header a:hover,
nav a:hover, 
nav .active {
  color: var(--dark);
}

.navbar-container {
  padding: 5px 0;
}

/* footer */

footer {
  background-color: #363b41;
}

/* css Diégo */

.carousel .carousel-indicators {
    bottom: 20px;
}

.card_travel .card_body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

@media screen and (max-width: 640px) {
  .card_travel .card_body p {
    padding-top: 0;
  }
}

/* css Joé */

.card-person {
  width: 16%;
  object-fit: cover;
  border-radius: 50%;
}

.card-body > .details > p {
  color: var(--grey);
  text-transform: bold;
  font-size: 0.8rem;
}

.card-body > .details {
  display:flex;
  justify-content: space-between;
  align-items: center;
}


/* -------- css Ricardo ---------- */


/* --- card ---- */

.card-title {
  font-family: var(--baskerville)
}

.card-popularPost .card-text > p {
 font-size: 0.8rem;
}

/* --- search aside ---- */

.search-group .input-group-append .btn-outline-secondary{
  border: 1px solid #ced4da;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* --- social aside ---- */

.social_section ul li {
padding: 0 5px ;
}